<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
<script src="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/cartodb.js"></script>

<style id="cartoCSS" type="text/cartocss">
/** simple visualization */
#groups{
  marker-fill-opacity: 0.9;
  marker-line-color: #FFF;
  marker-line-width: 1;
  marker-line-opacity: 1;
  marker-fill: #FFFFFF;
  marker-allow-overlap: true;

  marker-width: 3;
  [zoom>3]{
    marker-width: 6;
  }
}
#groups::2{
  marker-fill-opacity: 0;
  marker-line-color: #FFF;
  marker-line-width: 1;
  marker-line-opacity: .5;
  marker-fill: #FFFFFF;
  marker-allow-overlap: true;

  marker-width: 6;
  [zoom>3]{
    marker-width: 12;
  }
}
#groups::3{
  marker-fill-opacity: 0;
  marker-line-color: #FFF;
  marker-line-width: 1;
  marker-line-opacity: .25;
  marker-fill: #FFFFFF;
  marker-allow-overlap: true;

  marker-width: 10;
  [zoom>3]{
    marker-width: 16;
  }
}
#groups::labels[zoom>3] {
  text-name: [label];
  text-face-name: 'DejaVu Sans Book';
  text-size: 12;
  text-label-position-tolerance: 0;
  text-fill: #000;
  text-halo-fill: #FFF;
  text-halo-radius: 2;
  text-dy: -8;
  text-allow-overlap: true;
  text-placement: point;
  text-placement-type: dummy;
}
</style>


<!-- Infowindow template -->
<script type="infowindow/html" id="infowindow_template">
<div class="cartodb-popup v2">
  <a href="#close" class="cartodb-popup-close-button close">x</a>
  <div class="cartodb-popup-content-wrapper">
    <div class="cartodb-popup-content">
      <h3>{% raw %}{{_group}}{% endraw %}</h3>
      <p><a href="{{site.url}}/groups/{% raw %}{{id}}{% endraw %}">+ info</a></p>
    </div>
  </div>
  <div class="cartodb-popup-tip-container"></div>
</div>
</script>

