---
layout: default
---


<style>
  #map{
    width:100%;
    height:200px;
    margin-bottom: 20px;
  }
  #group-links{
    float: left;
  }
</style>

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    <div class="contact-details">
      <div id="map"></div>

      <img id="avatar" src="" />

      <ul>
        <li><a href="{{page.mailing-list}}">Lista de correo</a></li>
{% include details.html %}

        <li>Contactos:<ul>
          {% for contact in site.contacts %}
            {% for cgroup in contact.groups %}
              {% if page.id == cgroup%}
              <li><a href="{{site.baseurl}}/contactos/{{contact.id}}">{{contact.name}}</a>
              </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul></li>
      </ul>
    </div>

    {{ content }}
  </article>

</div>
{% include avatar_js.html %}
{% include cartodb_js.html %}
<script type="text/javascript">
  $(document).ready(function(){
    var map = L.map('map', {
      zoomControl: false,
      center: [{{page.latitude}}, {{page.longitude}}],
      zoom: {{site.cartodb.group_zoom}}
    });

    L.tileLayer('http://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}.png',{
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OSM</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    }).addTo(map);

    cartodb.createLayer(map, {
      user_name: 'jsanz',
      type: 'cartodb',
      sublayers: [{
        sql: "{{site.cartodb.sql}}",
        cartocss: $('#cartoCSS').html(),
        interactivity: 'cartodb_id'
      }]
    })
    .addTo(map)
    .done(function(layer){
      // show infowindows on click
      cdb.vis.Vis.addInfowindow(map, layer.getSubLayer(0), ['cartodb_id','_group','id'],{}).model.set({
        //'sanitizeTemplate':false,
        'template' :  function(object){
            if (object && object.cartodb_id){
                return Mustache.render($('#infowindow_template').html(),object)
            }
        }
      });
    });
  })
</script>
